#!/usr/bin/env bash
use flake
PATH="$PWD/node_modules/.bin:$PATH"
PATH="$PWD/packages/geojson-to-gml-3/node_modules/.bin:$PATH"
PATH="$PWD/packages/geojson-to-wfs-t-2/node_modules/.bin:$PATH"
export PATH
